{% extends "main.html" %}
{% block main %}
<h2>Pending</h2>
<form method="POST" action="/admin">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	{% for site in data.pending %}
		<li><input type="checkbox" id="add-{{loop.index0}}" name="check-{{loop.index0}}" value={{loop.index0}}><label for="add-{{loop.index0}}"><a href="{{ site.href }}">{{ site.name }}</a> - {{site.desc}}</label></li>
	{% endfor %}
	<input type="submit" name="approve" value="Approve"><button type="submit" name="clear" value="pending">Clear</button>
</form>

<h2>Remove</h2>
<form method="POST" action="/admin">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	{% for site in data.remove %}
		<li><input type="checkbox" id="remove-{{loop.index0}}" name="check-{{loop.index0}}" value={{loop.index0}}><label for="remove-{{loop.index0}}"><a href="{{ site.href }}">{{ site.name }}</a> - {{site.desc}}</label></li>
	{% endfor %}
	<input type="submit" name="remove" value="Remove"><button type="submit" name="clear" value="remove">Clear</button>
</form>

<h2>Sites</h2>
<form method="POST" action="/admin">
	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	{% for site in data.sites %}
		<li><input type="checkbox" id="sites-{{loop.index0}}" name="check-{{loop.index0}}" value={{loop.index0}}><label for="sites-{{loop.index0}}"><a href="{{ site.href }}">{{ site.name }}</a> - {{site.desc}}</label></li>
	{% endfor %}
	<button type="submit" name="clear" value="sites">Remove</button>
</form>
{% endblock %}
