<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Marui | A Webring Directory</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
{% set top_return %}
  <span class="top_return"><a href="#navigation">Return to top</a>
{% endset %}
<div id="content">
  <header>
    <h1>Marui</h1>
  </header>
  <nav>
    <ul id="navigation">
      <li><a href="#about">About</a></li>
      <li><a href="#directory">Directory</a></li>
      <li><a href="#join">Join</a></li>
    </ul>
  </nav>
  <main>
    {% block main %}
    <section>
      <h2 id="about">About</h2>
      <p>
        Marui is software for running simple webrings in Python!
      </p>
      {{ top_return }}
    </section>
    <section>
      <h2 id="directory">Directory</h2>
      <ul>
      {% for site in sites %}
          <li><a href="{{ site.href }}">{{ site.name }}</a> - {{site.desc}}</li>
      {% endfor %}
      </ul>
      {{ top_return }}
    </section>
    <section>
      <h2 id="join">Join</h2>
      <p>
        Interested in joining? Read over the rules below, then fill out the form.
        <script>
  fetch({{ url_for('sites')}})
  .then((response) => {
    if (response.ok) {
      let sites = response.json();
      let siteIndex = sites.findIndex((site) => {document.location.startsWith(site)});
      document.querySelector('marui-hide').forEach((el) => {el.removeAttribute("style")});
      document.getElementById('marui-prev').href = siteIndex > 0 ? sites[siteIndex - 1] : sites[sites.length -1];
      document.getElementById('marui-next').href = siteIndex < sites.length -1 ? sites[siteIndex + 1] : sites[0];
      document.getElementById('marui-next').href = sites[randomInt(sites.length -1 )];
    }
  })
</script>
<div id="marui-webpring" style="display:inline-block;">
  <div id="marui-banner"><a href="{{ base_url }}" alt="{{ webring_name }}"><img src="banner.png"></a></div>
  <div id="marui-nav">
    <a href="#prev" class="marui-hide" style="display: none;" id="marui-prev">«</a>
    <a href="#random" class="marui-hide" style="display: none;" id="marui-random">?</a>
    <a href="{{ base_url}}#directory" id="marui-list">※</a>
    <a href="#next" class="marui-hide" style="display: none;" id="marui-next">»</a>
  </div>
</div>
      </p>
      <ul>
        <li>You must have the code on your page, either on the home page or on an easily-found links page</li>
        <li>No illegal content</li>
      </ul>
            <form method="POST" action="/">
      {{ form.csrf_token }}
      {{ form.site_name.label }} {{ form.site_name(size=20) }}
      {{ form.site_url.label }} {{ form.site_url(size=20) }}
      {{ form.site_desc.label }} {{ form.site_desc }}
      {{ form.removal.label }} {{ form.removal }}
      {{ form.agreement.label }} {{ form.agreement }}
      <input type="submit" value="Go">
      </form>
      <h3>Code</h3>
        <textarea>
<script>
  fetch({{ url_for('sites')}})
  .then((response) => {
    if (response.ok) {
      let sites = response.json();
      let siteIndex = sites.findIndex((site) => {document.location.startsWith(site)});
      document.querySelector('marui-hide').forEach((el) => {el.removeAttribute("style")});
      document.getElementById('marui-prev').href = siteIndex > 0 ? sites[siteIndex - 1] : sites[sites.length -1];
      document.getElementById('marui-next').href = siteIndex < sites.length -1 ? sites[siteIndex + 1] : sites[0];
      document.getElementById('marui-next').href = sites[randomInt(sites.length -1 )];
    }
  })
</script>
<div id="marui-webpring" style="display:inline-block;">
  <div id="marui-banner"><a href="{{ base_url }}" alt="{{ webring_name }}"><img src="banner.png"></a></div>
  <div id="marui-nav">
    <a href="#prev" class="marui-hide" style="display: none;" id="marui-prev">«</a>
    <a href="#random" class="marui-hide" style="display: none;" id="marui-random">?</a>
    <a href="{{ base_url}}#directory" id="marui-list">※</a>
    <a href="#next" class="marui-hide" style="display: none;" id="marui-next">»</a>
  </div>
</div>
        </textarea>
      <h3>Leaving</h3>
      <p>
      If you wish to be removed from the webring, remove the code from your site, fill out the form again (you can just put the site URL, no need to fill out title or description), and check the 'Remote site' box.
    </p>
    <h3>Updating</h3>
    <p>If the site URL has remained the same, just fill out the form again, with the updated name and/or description. If the site has moved, fill it out for your new site and then do a removal request for your old site

      {{ top_return }}
    </section>
    {% endblock %}
  </main>
  <footer></footer>
</div>
</body>
</html>